.home-page {
    padding-top: calc(var(--topbar-height) + var(--header-height));
}

@media (max-width: 768px) {
    .home-page {
        padding-top: calc(var(--topbar-height) + var(--header-height) - 10px);
    }
}